#!/nix/store/l9k32vj2aczxw62134j1x0dsh569jz2l-bash-5.2p37/bin/bash

MSG_FILE="$1"
PREFIX="system: "

# Only prepend if not already present
if ! grep -q "^${PREFIX}" "$MSG_FILE"; then
  sed -i "1s/^/${PREFIX}/" "$MSG_FILE"
fi
